#ems_add_Employee_Form .error {
    color: red;
    font-size: 14px;
    font-weight: 600;
}

.imagePreview{
    width: 10rem;
    height: 10rem;
}
.imagePreview img{
    width: 100%;
    height: 100%;
}